.form-label {
  color: white !important;
}

form {
  margin-bottom: 5vh;
  width: 99% !important;
}

form input {
  border-radius: 0px;
  font-weight: 400;
}

#form-button {
  background-color: var(--gold);
  border-radius: 0px;
  color: var(--bg);
  font-family: 'Bubblegum Sans', cursive;
  text-transform: uppercase;
  font-weight: bold;
}

.form-control {
  border-radius: 0px !important;
}

.form-control:focus {
  border: 1px solid var(--gold);
  outline: none !important;
}
.form-select {
  border-radius: 0px !important;
}

@media only screen and (max-width: 992px) {
  form {
    width: 90%;
  }
}
