.form-label {
  color: white !important;
}

form {
  margin-bottom: 5vh;
  width: 50% !important;
}

form input {
  border-radius: 0px;
  font-weight: 400;
}

#form-button {
  background-color: #f5c518;
  border-radius: 0px;
  color: white;
}

.form-control {
  border-radius: 0px !important;
}

.form-control:focus {
  border: 1px solid #f5c518;
  outline: none !important;
}
.form-select {
  border-radius: 0px !important;
}

@media only screen and (max-width: 768px) {
  form {
    width: 100% !important;
  }
}
