:root {
  --bg: #c04242;
  --gold: #f5c518;
  --text: #f3f0f0;
  --textSize: 10px;
  --border: 3px solid #ddc46d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: var(--gold);
}
